h1 {
background-color: green;
    color: white;
    text-align: center;
    padding: 30px;
    width: 100%;
}

h5 {
    color: blue;
font-size: medium;
}

body {
    background-color: aqua;
}